<robot name="human_2dof_planar_model">
    <material name="body_color">
        <texture />
        <color rgba="0.1 0.1 0.1 0.6" />
    </material>
    <link name="trunk">
        <visual>
	    <origin xyz="0.0 -0.15 -0.25" rpy="1.57 0 3.14" /> 
            <geometry>
		        <mesh filename="package://meshes/new_meshes/torso_mesh.STL" scale="0.0075 0.0075 0.0075" />
            </geometry>
            <material name="body_color">
                <texture />
                <color rgba="0.2 0.2 0.2 0.2" />
            </material>
        </visual>
        <visual>
	        <origin xyz="-0.06 -0.09 0.125" rpy="1.57 0 3.14" /> 
            <geometry>
		        <mesh filename="package://meshes/new_meshes/head_mesh.STL" scale="0.0055 0.0055 0.0055" />
            </geometry>
            <material name="body_color">
                <texture />
                <color rgba="0.2 0.2 0.2 0.5" />
            </material>
        </visual>
    </link>
    <joint name="shoulder_Z" type="revolute">
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <axis xyz="0 -1 0" />
        <parent link="trunk" />
        <child link="upperarm" />
        <limit effort="0" velocity="0" lower="-1.5708" upper="1.5708" />
    </joint>
    <link name="upperarm">
        <inertial>
            <mass value="1.8" />
            <origin xyz="0.118 -0.004 -0.007" rpy="0 -0 0" />
            <inertia ixx="0.011874" ixy="0.000445" ixz="0.000309" iyy="0.002422" iyz="4.9e-05" izz="0.012652" />
        </inertial>
        <visual>
	    <origin xyz="0.04 0.125 0.035" rpy="3.14 0 -1.57" /> 
            <geometry>
		        <mesh filename="package://meshes/new_meshes/shoulder_mesh.STL" scale="0.004 0.004 0.004" />
            </geometry>
            <material name="body_color">
                <texture />
                <color rgba="0 1 1 0.5" />
            </material>
        </visual>
        <visual>
            <origin xyz="0.32 0.18 0.06" rpy="3.14 0 -1.57" />
            <geometry>
                <mesh filename="package://meshes/new_meshes/upperarm_mesh.STL" scale="0.006 0.0068 0.0068" />
            </geometry>
            <material name="body_color" />
        </visual>
    </link>
    <joint name="elbow_Z" type="revolute">
        <origin xyz="0.262 0.0 0.0" rpy="0 -0 0" />
        <axis xyz="0 -1 0" />
        <parent link="upperarm" />
        <child link="lowerarm" />
        <limit effort="0" velocity="0" lower="0" upper="2.74889" />
    </joint>
    <link name="lowerarm">
        <inertial>
            <mass value="1.28" />
            <origin xyz="0.0 -0.000 0.000" rpy="0 -0 0" />
            <inertia ixx="0.007479" ixy="8.6e-05" ixz="3.8e-05" iyy="0.001154" iyz="-0.000611" izz="0.006954" />
        </inertial>
        <visual>
	    <origin xyz="-0.155 -0.028 -0.035" rpy="0 0 0" /> 
            <geometry>
		        <mesh filename="package://meshes/new_meshes/elbow_mesh.STL" scale="0.0055 0.0055 0.0055" />
            </geometry>
            <material name="body_color">
                <texture />
                <color rgba="0 1 1 0.5" />
            </material>
        </visual>
        <visual>
            <origin xyz="-0.0 0.18 -0.05" rpy="0 0 -1.57" /> 
            <geometry>
                <mesh filename="package://meshes/new_meshes/lowerarm_mesh.STL" scale="0.0060 0.0070 0.0060" />
            </geometry>
            <material name="body_color">
                <texture />
                <color rgba="0 1 1 0.5" />
            </material>
        </visual>
    </link>
    
    <joint name="hand_fixed" type="fixed">
        <origin xyz="0.273 0.0 0.0" rpy="1.57 -0 0" />
        <axis xyz="0 0 1" />
        <parent link="lowerarm" />
        <child link="hand" /> 
        <limit effort="0" velocity="0" lower="-1.5708" upper="1.5708" />
    </joint>
   
    <link name="hand">
        <inertial>
            <mass value="3.45" />
            <origin xyz="0.015 -0.154 0.014" rpy="0 -0 0" />
            <inertia ixx="0.005608" ixy="0.000729" ixz="0.000339" iyy="0.002176" iyz="-0.000603" izz="0.004726" />
        </inertial>
        <visual>
            <origin xyz="0.185 0.18 0.05" rpy="3.14 0 -1.57" /> 
            <geometry>
		        <mesh filename="package://meshes/new_meshes/hand_mesh.STL" scale="0.0060 0.0060 0.0060" />
            </geometry>
            <material name="body_color">
                <texture />
                <color rgba="0 1 1 0.5" />
            </material>
        </visual>
        <visual>
            <origin xyz="0.105 0.05 0.05" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://meshes/new_meshes/cylinder_mesh.STL" scale="0.01 0.01 0.01" />
            </geometry>
            <material name="body_color">
                <color rgba="0.7 0.7 0.7 1.0" />
            </material>
        </visual>
    </link>
    
    <!-- <joint name="tool_fixed" type="fixed">
        <origin xyz="0.1 0.05 0.0025" rpy="0 0 0" />
        <parent link="hand" />
        <child link="tool" />
    </joint>
    <link name="tool">
        <inertial>
            <mass value="3.0" />
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.05" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://meshes/new_meshes/cylinder_mesh.STL" scale="0.01 0.01 0.01" />
            </geometry>
            <material name="body_color">
                <color rgba="0.7 0.7 0.7 1.0" />
            </material>
        </visual>
    </link> -->

</robot>